.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  background: antiquewhite;
  min-height: 100vh;
}

.myImage {
  height: 100%;
  width: 70%;
  padding: 1rem;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
